{% extends "base_medico.html" %}
{% load static %}
{% block contenido %}
<div class="container-fluid row p-4">
  <h2 class="text-center mb-5 fw-bolder">Agenda Médica</h2>
  <div class="row row-cols-lg-12 g-3 align-items-center mb-5 p-4 bg-secondary mx-auto">
    <div class="col-6">
      <img class="w-100" src="{% static 'img/calendario.jpg' %}" alt="" height="300px">
    </div>
    <div class="col-6">
      <div name="fechaAgenda" id="fecha"></div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs mt-3" id="tabsObs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="consultaragenda-tab" data-bs-toggle="tab" data-bs-target="#consultaragenda"
      type="button" role="tab" aria-controls="consultaragenda" aria-selected="true">Consultar agenda</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="horariomedico-tab" data-bs-toggle="tab" data-bs-target="#horariomedico" type="button"
      role="tab" aria-controls="horariomedico" aria-selected="false">Horario medico</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="hora_asig-tab" data-bs-toggle="tab" data-bs-target="#horariasig" type="button"
      role="tab" aria-controls="horariasig" aria-selected="false">Disponibilidad asignada </button>
  </li>
</ul>
<div class="tab-content" id="tabcontenidobs">
  <div class="tab-pane fade show active" id="consultaragenda" role="tabpanel" aria-labelledby="consultaragenda-tab">
    <div class="container m-1 table-responsive  border">
      <table class="table is-fullwidth is-striped is-bordered">
        <thead>
          <tr>
            <th>Nombre paciente</th>
            <th>Edad paciente</th>
            <th>Hora</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for pac,x in antiguo %}
          <tr>
            <th>{{pac.p_nombre}} {{pac.apellido_pa}} {{pac.apellido_ma}}</th>
            <td class="edadPaciente text-start">{{pac.edad_actual}} años</td>
            <td>Work in Porgress</td>
            {% if x == "Nuevo" %}
            <td><a href="{% url 'modulo_medico:atePaciente' pac.run %}">{{x}}</a></td>
            {% else %}
            <td><a href="{% url 'modulo_medico:consultaP' pac.run %}">{{x}}</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="horariomedico" role="tabpanel" aria-labelledby="horariomedico-tab">
    <h2 class="text-center mt-3">Seleccione disponibilidad de atención semanal</h2>

    <form class="row" action="{% url 'modulo_medico:agenda_pa' %}" method="POST" enctype="multipart/form-data" onsubmit="">
      {% csrf_token %}
      <input type="text" id="fechita" placeholder="Seleccione rango de fechas">
      <div class="accordion accordion-flush" id="accordionFlush">

      </div>
      <div class="col-lg-4" id="reinicio">
        <button id="boton" class="btn btn-outline-primary" type="submit" style="visibility:hidden">Confirmar
          disponibilidad</button>
      </div>

    </form>
  </div>
  <div class="tab-pane fade show active" id="horariasig" role="tabpanel" aria-labelledby="hora_asig-tab">
    <div class="container m-1 table-responsive  border">
      <table class="table is-fullwidth is-striped is-bordered">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            
          </tr>
        </thead>
        <tbody>
            {% for disp in disponibilidad %}
              <tr>
                <th>{{ disp.id_horaD.fecha_hora|date:"N d "}}</th>
                <td>{{disp.id_horaD.fecha_hora|date:"P"}}</td>
                <td>
                {% for ag in agenda%}
                
                  {% if ag.idd == disp%}
                agendada por: {{ag.run_pac_id}} 
                  {% else %}
                    -
                  {% endif%}
                {% endfor%}
                </td>
                  
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock contenido %}