{% load static %}
<!-- Primera Atencion Paciente -->
<h2 class="text-center mb-5">Atención Pacientes Nuevos</h2>
<form class="row ">
    <!-- Datos Basicos del Paciente -->
    <div class="col-lg-2">
        <label for="inputRutpaciente" class="form-label">Rut Paciente</label>
        <input type="text" class="form-control" id="inputRutpaciente" placeholder="Ingrese Rut">
    </div>
    <div class="col-lg-1">
        <label for="inputDV" class="form-label">Dv</label>
        <input type="text" class="form-control" id="inputDV" placeholder="Dv">
    </div>
    <div class="row mt-3">
        <div class="col-lg-4">
            <label for="inputNombre" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre Paciente">
        </div>
        <div class="col-lg-4">
            <label for="inputApellidop" class="form-label">Apellido P.</label>
            <input type="text" class="form-control" id="inputApellidop" placeholder="Apellido Paterno">
        </div>
        <div class="col-lg-4">
            <label for="inputApellidom" class="form-label">Apellido M.</label>
            <input type="text" class="form-control" id="inputApellidom" placeholder="Apellido Materno">
        </div>
    </div>
    <div class="row mt-3">
        <div class=" col-lg-4">
            <label for="inputcorreo" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="inputcorreo" placeholder="Ejemplo@correo.paciente">
        </div>
        <div class="col-lg-8">
            <label for="inputDireccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección">
        </div>
    </div>
    <div class="row mt-3">
        <div class=" col-lg-4">
            <label for="inputNac" class="form-label">Nacionalidad</label>
            <input type="text" class="form-control" id="inputNac" placeholder="Nacionalidad Paciente">
        </div>
        <div class="col-lg-2">
            <label for="inputEdad" class="form-label">Edad</label>
            <input type="text" class="form-control" id="inputEdad" placeholder="Edad Paciente">
        </div>
        <div class="col-lg-2">
            <label for="inputTalla" class="form-label">Talla</label>
            <input type="text" class="form-control" id="inputTalla" placeholder="Talla Paciente (cm)">
        </div>
        <div class="col-lg-2">
            <label for="inputPeso" class="form-label">Peso</label>
            <input type="text" class="form-control" id="inputPeso" placeholder="Peso Paciente (Kg)">
        </div>
        <div class="col-lg-2">
            <label for="inputIMC" class="form-label">IMC</label>
            <input type="text" class="form-control" id="inputIMC" placeholder="IMC Paciente" disabled>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <label for="inputFono" class="form-label">Fono</label>
            <input type="text" class="form-control" id="inputFono" placeholder="Teléfono Paciente">
        </div>
        <div class="col-md-4">
            <label for="inputAlergia" class="form-label">Alergia</label>
            <div class="input-group ">
                <input type="text col-md-8" class="form-control" id="inputDetalleA" placeholder="Detalle de Alergia"
                    value="" disabled>
                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                    data-bs-target="#modal_alergia_scroll"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
                <div class="modal fade" id="modal_alergia_scroll" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="alergia_estatica" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="alergia_estatica">Seleccione una Alergia
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-grid gap-2 d-md-block">
                                    <button type="button" class="btn btn-info text-white m-1 text-wrap fs-6 fw-bolder" id="tipo_alergia1" 
                                        onclick="validar_Alergia(this.id)" value="Alergia 1">Alergia 1</button>
                                    <button type="button" class="btn btn-info text-white m-1 text-wrap fs-6 fw-bolder" id="tipo_alergia2" 
                                        onclick="validar_Alergia(this.id)" value="Alergia 2">Alergia 2</button>
                                    <button type="button" class="btn btn-info text-white m-1 text-wrap fs-6 fw-bolder" id="tipo_alergia3" 
                                        onclick="validar_Alergia(this.id)" value="Alergia 3">Alergia 3</button>
                                    <button type="button" class="btn btn-info text-white m-1 text-wrap fs-6 fw-bolder" id="tipo_alergia4" 
                                        onclick="validar_Alergia(this.id)" value="Alergia 6">Alergia 6</button>
                                    <button type="button" class="btn btn-info text-white m-1 text-wrap fs-6 fw-bolder" id="tipo_alergia5" 
                                        onclick="validar_Alergia(this.id)" value="Alergia 5">Alergia 5</button>
                                    <button type="button" class="btn btn-info text-white m-1 text-wrap fs-6 fw-bolder" id="tipo_alergia_otro" 
                                        onclick="desplegar_alergia()">Otra Alergia</button>
                                    <div class="m-2" id="auto_completar" hidden>
                                        <input type="text" class="form-control " id="auto_alergia" placeholder="Ingrese una Alergia" oninput="validar_Alergia(this.id)">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                                </button>
                                <button type="button" class="btn btn-warning" onclick="borrar_Alergia()">Borrar</button>
                                <button type="button" class="btn btn-primary" id="select_alergia"
                                    data-bs-dismiss="modal" onclick="detalle_Alergia()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="inputPrev" class="form-label">Previsión</label>
            <select id="inputPrev" class="form-select ">
                <option selected>FONASA</option>
                <option>Colmena</option>
                <option>Cruz Blanca</option>
                <option>Codelco</option>
                <option>ETC</option>
            </select>
        </div>
    </div>
    <hr class="mt-5" style="color: grey" />
    <!-- Observaciones Receta y mas -->
    <ul class="nav nav-tabs mt-3" id="tabsObs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="observaciones-tab" data-bs-toggle="tab" data-bs-target="#observaciones"
                type="button" role="tab" aria-controls="observaciones" aria-selected="true">Observaciones</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="farmaco-tab" data-bs-toggle="tab" data-bs-target="#farmaco" type="button"
                role="tab" aria-controls="farmaco" aria-selected="false">Fármacos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="diagnotico-tab" data-bs-toggle="tab" data-bs-target="#diagnostico"
                type="button" role="tab" aria-controls="diagnostico" aria-selected="false">Diagnostico</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ant-clinico-tab" data-bs-toggle="tab" data-bs-target="#ant-clinico"
                type="button" role="tab" aria-controls="ant-clinico" aria-selected="false">Historial Clínico</button>
        </li>
    </ul>
    <div class="tab-content" id="tabcontenidobs">
        <div class="tab-pane fade show active" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
            <div class="mb-3 mt-5">
                <label for="inputObservacion" class="form-label">Escriba sus observaciones</label>
                <textarea class="form-control" id="inputObservacion" rows="3"></textarea>
            </div>
        </div>
        <div class="tab-pane fade" id="farmaco" role="tabpanel" aria-labelledby="farmaco-tab">
            <h3 class="text-center"> Receta Médica</h3>
            <table class="table borde table-hover" id="tablaF">
                <thead>
                    <tr>
                        <th scope="col">Nombre Fármaco</th>
                        <th scope="col">Dosis</th>
                        <th scope="col">Via de Adminsitración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="row">
                        <td><input type="text" id="nombrefarmaco" placeholder="Ingrese Fármaco">
                        </td>
                        <td><input type="string" id="dosisfarmaco" placeholder="Ingrese Dosis"></td>
                        <td>
                            <select class="form-select" aria-label="Default select example" id="viafarmaco">
                                <option selected>Enteral</option>
                                <option value="1">Parenteral</option>
                                <option value="2">Tópica</option>
                            </select>
                        </td>
                        <td>
                            <button class="mt-1" type="button" id="eliminarFar" onclick="delete_row2()" disabled><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <button type="button" class="btn btn-primary" onclick="add_row()">Agregar
                    Fármaco</button>
                <button type="submit" class="btn btn-primary">Generar Receta</button>
            </div>
        </div>
        <!-- Primer Diagnostico Paciente -->
        <div class="tab-pane fade" id="diagnostico" role="tabpanel" aria-labelledby="diagnotico-tab">
            <div class="mb-3 mt-5">
                <label for="inputDiagnostico" class="form-label">Escriba su Diagnostico</label>
                <textarea class="form-control" id="inputDiagnostico" rows="3"></textarea>
            </div>
        </div>
        <div class="tab-pane fade" id="ant-clinico" role="tabpanel" aria-labelledby="ant-clinico-tab">
            <div class="mb-3 mt-5">
                <label for="inputHClinico" class="form-label">Historial clínico del paciente.</label>
                <textarea class="form-control" id="inputHClinico" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 text-end">
        <button type="submit" class="btn btn-success fs-6"> Registrar Nueva Atención <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </button>
        <button type="button" class="btn btn-secondary fs-6"> Generar Certificado <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
        <button type="button" class="btn btn-secondary fs-6">Generar Orden de Exámen <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
            <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
            <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
          </svg>
        </button>
    </div>
</form>