{% load static %}

<!-- Banner -->
<div class="row">
  <div class=" justify-content-center align-items-center p-5 col-12" id="banner_container">
    <div id="carouselMedico" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner ">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'img/banner_m_medico.jpg' %}" class="banner w-100 img-responsive" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/banner_m2_medico.jpg' %}" class="banner w-100 img-responsive" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/banner_m3_medico.jpg' %}" class="banner w-100 img-responsive" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselMedico" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselMedico" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>

<!-- La linea -->
<div id="bienvenida_usuario">
  <hr class="mx-auto" style="color: grey" />
  <div>
    <h2 class="ms-5" style="text-align: start"><strong>Bienvenido Dr(a):</strong> {{medico.p_nombre}} {{medico.apellido_pa}} </h2>
  </div>
  <!-- La linea -->
  <hr class="mx-auto" style="color: grey" />
</div>