{% extends "base_medico.html" %}
{% load static %}
{% block contenido %}

<div class=" container-fluid row p-4">
    <div class="col-lg-12">
        <h2 class="text-center mb-5 fw-bolder">Exámenes Pacientes</h2>
        <!-- form para buscar examen paciente -->
        <form class="row row-cols-lg-auto g-3 align-items-center mb-5" method="POST" accept="{% url 'examenesP'%}">
            {% csrf_token %}
            <label class="fw-bolder" for="rutPaciente">Rut Paciente</label>
            <div class="col-12">
                <input type="number" class="form-control" id="rutPaciente" name="sPaciente"
                    placeholder="Ingrese rut paciente" pattern="[0-9]" required />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="btnbuscarPaciente" name="btnbuscarPaciente">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    Buscar Paciente
                </button>
            </div>
        </form>
        <!-- Tabla de examenes -->
        <div class="container m-1 table-responsive  border">
            <table class="table table-secundary table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID Examen</th>
                        <th scope="col">Nombre Archivo</th>
                        <th scope="col">Fecha subida</th>
                        <th scope="col" style="text-align: center">Funciones</th>
                    </tr>
                </thead>
                {% if eRsultados_conteo < 1 %} 
                    <tbody>
                        <tr>
                        <td colspan="4" class="text-center mt-5 font-weight-bolder"> No se han encontrados exámenes para
                            el RUT del paciente indicado. </td>
                        </tr>
                    </tbody>
                {% elif eRsultados_conteo >= 1 %}
                    <tbody>
    
                        <tr>
                            <th scope="row">0122</th>
                            <td>{x.archivo}</td>
                            <td>22-11-2022</td>
                            <td style="text-align: center;">
                                <button id="boton" type="button" class="btn btn-info m-1 text-white" onclick="">
                                    Visualizar
                                </button>
                                <button id="boton" type="button" class="btn btn-info m-1 text-white" onclick="">
                                    Imprimir
                                </button>
                                <button id="boton" type="button" class="btn btn-info m-1 text-white" onclick="">
                                    Eliminar
                                </button>
                            </td> 
                        </tr>                                  

                    </tbody>
                {% else %}
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center mt-5 font-weight-bolder"> Inicie la búsqueda de exámenes
                                colocando el RUT del paciente sin su dígito verificador. </td>
                        </tr>
                    </tbody>
                {% endif %}
            </table>
        </div>
        <div class="col-lg-12 mt-5">
            Disclaimer de Privacidad: Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Rerum, eveniet nulla? Illo, voluptatem repudiandae, perspiciatis impedit quo quas
            corrupti praesentium, cum delectus minima alias aliquam. Quia veritatis rem dicta
            tempore.
        </div>
    </div>
</div>
{% endblock contenido %}