{% load static %}
<section class="p-4">
        <form action="">
            <h3 class="text-center mb-5">Horas Registradas día</h3>
                <table class="table is-fullwidth is-striped is-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Estado hora</th>
                        <th>Médico</th>
                        <th>Especialidad</th>
                    </tr>
                    </thead>
                    <tbody>
        
                    <tr>
                        <th>11</th>
                        <th>12-06-2022</th>
                        <th>12:30-13:30</th>
                        <th>Reservada</th>
                        <th>Camilo Sexto</th>
                        <th>Geriatría</th>
                        <td style="text-align: center;">
                            <button  type="button" class="btn btn-info m-1 text-white"
                                onclick="">
                                Eliminar Hora
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>22</th>
                        <th>12-06-2022</th>
                        <th>14:30-15:30</th>
                        <th>Reservada</th>
                        <th>Aaron Farías</th>
                        <th>Ginecologogia</th>
                        <td style="text-align: center;">
                            <button  type="button" class="btn btn-info m-1 text-white"
                                onclick="">
                                Eliminar Hora
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>33</th>
                        <th>12-06-2022</th>
                        <th>15:30-16:30</th>
                        <th>Reservada</th>
                        <th>Aaron Farías</th>
                        <th>Ginecologogia</th>
                        <td style="text-align: center;">
                            <button  type="button" class="btn btn-info m-1 text-white"
                                onclick="">
                                Eliminar Hora
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </form>
</section>