{% load static %}
<section class="p-4">
        <form action="">
            <h3 class="text-center mb-5">Horas Registradas día</h3>
                <table class="table is-fullwidth is-striped is-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Estado hora</th>
                        <th>Médico</th>
                        <th>Especialidad</th>
                    </tr>
                    </thead>
                    <tbody name="id_hora">
                    {% if agenda %}
                        {% for di in agenda %}
                    <tr>
                        <th>{{di.id_disp}}</th>
                        <th>{{di.id_horaD.fecha_hora|date:"N d "}}</th>
                        <th>{{di.id_horaD.fecha_hora|date:"P"}}</th>
                        {% if tomada %}
                        <th>No Disponible</th>
                        {% else %}
                        <th>Reservada</th>
                        {% endif %}
                        {%for m in medico %}
                        
                            {% if m.run == di.run_medico_id%}
                        <th>{{m.p_nombre}} {{m.apellido_pa}}</th>
                        <th>especialidad</th>
                            {% endif%}
                        {% endfor %}
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-info m-1 text-white"
                                onclick="confirma_anula({{di.id_disp}})">
                                Eliminar Hora
                            </button>
                        </td>
                    </tr>
                        {% endfor %}
                    {% endif%}
                    
                    </tbody>
                </table>
        </form>
</section>