{% load static %}
<header class="fixed-top">
    <nav class="navbar navbar-expand-xl navbar-light border p-md-3">
        <div class="container">
            <a class="navbar-brand" href="#">Intemed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="mx-auto"></div>
                <ul class="navbar-nav hstack gap-3">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'indexPaciente' %}">Inicio</a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'nuestraclinica' %}">Nuestra Clinica</a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'micuenta' %}">Mi Cuenta</a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'indexPaciente' %}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>