{% extends 'base_admin.html' %}
{% load static %}
{% block titulo %}
<title>Administrador</title>
{% endblock titulo %}

{% block contenido %}  
<main class="p-5">
    <div class="d-flex">
        <!-- Tabla de navegacion vertical  -->
        <div class="nav flex-column nav-pills me-5 border border-3 rounded border-info" id="v-pills-tab"
            role="tablist" aria-orientation="vertical">
            <button class="nav-link active border m-3" id="v-pills-agenda-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-agenda" type="button" role="tab" aria-controls="v-pills-agenda"
                aria-selected="true">
                Inicio
            </button>
            <button class="nav-link border m-3" id="v-pills-atencion-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-atencion" type="button" role="tab" aria-controls="v-pills-atencion"
                aria-selected="false">
                Agregar Usuario
            </button>
            <button class="nav-link border m-3" id="v-pills-buscarpac-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-buscarpac" type="button" role="tab" aria-controls="v-pills-buscarpac"
                aria-selected="false">
                Modificar/Eliminar
            </button>
            <button class="nav-link border m-3" id="v-pills-examen-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-examen" type="button" role="tab" aria-controls="v-pills-examen"
                aria-selected="false">
                Herramientas
            </button>
            <button class="nav-link border m-3" id="v-pills-reporte-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-reporte" type="button" role="tab" aria-controls="v-pills-reporte"
                aria-selected="false">
                Farmacos
            </button>
        </div>
        <!-- Contenido de los tab de cada tabla -->
        <div class="tab-content  container-fluid" id="v-pills-tabContent">
            <div class="tab-pane fade show active container-fluid" id="v-pills-agenda" role="tabpanel"
                aria-labelledby="v-pills-agenda-tab">
                <div class="row">
                    <div class="col-lg-11">
                        <h2 class="text-center">Panel de Control</h2>
                    </div>
                    <form class="row row-cols-lg-auto g-3 align-items-center mb-5">
                        <div class="col-12">
                            <label for="floatingInputValue"> Instrucciones
                        </div>
                        <div class="container-fluid">
                            <label for="floatingInputValue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat harum a ab impedit possimus nostrum dolore mollitia beatae maiores vel ut nulla suscipit eveniet iste, inventore aut minus temporibus ad!</label>
                        </div>
                    </form>
                </div>

                <div class="container m-1 row align-items-center border">
                    <div class="card" style="width: 15rem;height: 25rem;">
                        <img src="{% static 'img/clipart2045091.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Usuarios Registrados</h5>
                          <p class="card-text">Some quick example text </p>
                          <a href="#" class="btn btn-primary">administrar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;height: 25rem;">
                        <img src="{% static 'img/clipart2045091.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Atenciones Realizadas</h5>
                          <p class="card-text">Some quick example text</p>
                          <a href="#" class="btn btn-primary">administrar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;height: 25rem;">
                        <img src="{% static 'img/clipart2045091.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Farmacos Guardados</h5>
                          <p class="card-text">Some quick example text </p>
                          <a href="#" class="btn btn-primary">administrar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;height: 25rem;">
                        <img src="{% static 'img/clipart2045091.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Examenes Guardados</h5>
                          <p class="card-text">Some quick example text .</p>
                          <a href="#" class="btn btn-primary">administrar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;height: 25rem;">
                        <img src="{% static 'img/clipart2045091.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pacientes Guardados</h5>
                          <p class="card-text">Some quick example text </p>
                          <a href="#" class="btn btn-primary">administrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</main>
{% endblock contenido %}