{% extends 'base_admin.html' %}
{% load static %}
{% block titulo %}
<title>Inicio Administrador</title>
{% endblock titulo %}

{% block contenido %}  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Resumen Atenciones</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <input type="TextBox" ID="datebox" Class="form-control"></input>
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Compartir</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <form type="submit" method="POST" action="{% url 'Dash' %}" name="annio">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="sr-only" data-feather="calendar"></span>
          Año
        </button>
        {% csrf_token %}
          <ul id="select1" class="dropdown-menu"  >
            {% for ye in annios %}
            <li><a id="1"  class="dropdown-item" href="#" value="{{ye}}">{{ye}}</a></li>
            {% endfor %}
            
          </ul>
        </form>
      </div>
    </div>

    <canvas id="lineChart" width="400" height="150"></canvas>
  </main>
{% endblock contenido %}

{% block js1%}
<script type="text/javascript">
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var en = "{{ene}}";
    var fe ="{{feb}}";
    var ma = "{{mar}}";
    var ab = "{{abr}}";
    var ma = "{{may}}";
    var jn = "{{jun}}";
    var ju = "{{jul}}";
    var ago = "{{ago}}";
    var sep = "{{sep}}";
    var oct = "{{oct}}";
    var nov = "{{nov}}";
    var dic = "{{dic}}";
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        datasets: [{
          label: "Atenciones concertadas",
          data: [en, fe, ma, ab, ma, jn, ju, ago, sep, oct, nov, dic],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        },
        {
          label: "Atenciones canceladas",
          data: [0, 5, 20, 19, 13, 3, 22, 4, 7,8 ,9 , 6],
          backgroundColor: [
            'rgba(0, 137, 132, .2)',
          ],
          borderColor: [
            'rgba(0, 10, 130, .7)',
          ],
          borderWidth: 2
        }
        ]
      },
      options: {
        responsive: true
      }
    });
    
</script>
<script>
    $('#select1 li a').on('click', function(){
        $('#datebox').val($(this).html());

        var url="{% url 'Dash' %}"
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var context = "{{ contexto1 }}"       
        $.ajax({
            url : url,
            type: "POST",
            data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, annio: $(this).html()},
            dataType : "json"
            
           
        }).done(function(response) {
            console.log(response);
            var myLineChart = new Chart(ctxL, {
                type: 'line',
                data: {
                  labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                  datasets: [{
                    label: "Atenciones concertadas",
                    data: [response.ene, response.feb, response.mar, response.abr, response.may, response.jun, response.jul, response.ago, response.sep, response.oct, response.nov, response.dic],
                    backgroundColor: [
                      'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                      'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                  },
                  {
                    label: "Atenciones canceladas",
                    data: [0, 5, 20, 19, 13, 3, 22, 4, 7,8 ,9 , 6],
                    backgroundColor: [
                      'rgba(0, 137, 132, .2)',
                    ],
                    borderColor: [
                      'rgba(0, 10, 130, .7)',
                    ],
                    borderWidth: 2
                  }
                  ]
                },
                options: {
                  responsive: true
                }
              });
            

        }).fail(function (error) {
              console.log(error);
        });
       console.log(document.getElementsByName('csrfmiddlewaretoken')[0].value ,$(this).html() ,url )
       
    });
</script>
{% endblock js1%}