{% extends 'base_admin.html' %}
{% load static %}
{% block titulo %}
<title>Editar Fármaco</title>
{% endblock titulo %}

{% block contenido %}  
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2>Edición Fármaco</h2>
    <div>
        <form class="row " action="{% url 'edit_farma' farmaco.id_farmaco %}" method="POST" enctype="multipart/form-data" onsubmit="val_modificacion()" >
            {% csrf_token %}
            <!-- Datos de farmaco-->
            <div class="col-lg-2">
                <label class="form-label">Nombre Fármaco<span id="nom_span" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputNF" name="nombre_farma" oninput="valida_nom()" placeholder="{{farmaco.nombre_farmaco}}" value="{{farmaco.nombre_farmaco}}" minlength="3" maxlength="100" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Vía de Administración<span id="via_span" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputVia" name="via_adm" oninput="valida_via()" placeholder="{{farmaco.via_administracion}}" value="{{farmaco.via_administracion}}"  minlength="3" maxlength="100" required >
            </div>
            <div class="row mt-3">
                <label class="form-label">Contraindicación<span id="contra_span" class="text-danger">*</span></label>   
                <div class="form-outline">
                    <textarea class="form-control" id="textArea1" name="contra_ind" rows="4" oninput="validar_txt()"  maxlength="500" required>{{farmaco.contraindicacion}}</textarea>
                    <label class="form-label" for="textAreaExample"></label>
                </div>
            </div>
            <div class="col-md-5">
                <label class="form-label">Tipo Fármaco</label>
                <select id="inputPrev2" class="form-select " name="tipo_farma">
                {% for x in tipos %}
                    {% if x.tipo_farma == farmaco.id_tipo_farma.tipo_farma %}
                        <option selected>{{x.tipo_farma}}</option>
                    {% else %}
                        <option>{{x.tipo_farma}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" class="row mt-3">
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</main>

{% endblock contenido %}
{% block js%}

{% endblock js%}
{% block js1%}
<script>
    /*Validacion modificaciones*/
    function val_modificacion() {           
        var rn = valida_nom();
        var rv = valida_via();
        var rt = validar_txt();
        if (rt == true && rv == true && rn == true) {
            Swal.fire({
                icon: 'success',
                title: 'Exito',
                text: 'El Fármaco ha sido Modificado',
                showConfirmButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    document.edit_farmaco.submit();
                    return true;
                }
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Formulario Con Errores',
                text: 'Favor Revisar los Formatos Establecidos'
            })
            return false;
        }
    }
</script>
{% endblock js1%}