{% extends 'base_admin.html' %}
{% load static %}
{% block titulo %}
<title>Editar Fármaco</title>
{% endblock titulo %}

{% block contenido %}  
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2>Edición Fármaco</h2>
    <div>
        <form class="row ">
            <!-- Datos de farmaco-->
            <div class="col-lg-2">
                <label for="inputNombreFarmaco" class="form-label">Nombre Fármaco</label>
                <input type="text" class="form-control" id="inputNombreFarmaco" placeholder="{{farmaco.nombre_farmaco}}" value="{{farmaco.nombre_farmaco}}">
            </div>
            <div class="col-lg-3">
                <label for="inputVia" class="form-label">Vía de Administración</label>
                <input type="text" class="form-control" id="inputVia" placeholder="{{farmaco.via_administracion}}" value="{{farmaco.via_administracion}}">
            </div>
            <div class="row mt-3">
                <label for="inputNombre2" class="form-label">Contraindicación</label>   
                <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample1" rows="4">{{farmaco.contraindicacion}}</textarea>
                    <label class="form-label" for="textAreaExample"></label>
                </div>
            </div>
            <div class="col-md-5">
                <label for="inputPrev2" class="form-label">Tipo Fármaco</label>
                <select id="inputPrev2" class="form-select ">
                {% for x in tipos %}
                    {% if x.tipo_farma == farmaco.id_tipo_farma.tipo_farma %}
                        <option selected>{{x.tipo_farma}}</option>
                    {% else %}
                        <option>{{x.tipo_farma}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" class="row mt-3">
                <button type="button" class="btn btn-outline-primary">Guardar</button>
            </div>
        </form>
    </div>
</main>

{% endblock contenido %}