{% extends 'base_admin.html' %}
{% load static %}
{% block titulo %}
<title>Fármacos</title>
{% endblock titulo %}

{% block contenido %} 
<!-- Script para utilizar los Mensajes del SweetAlert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2>Fármacos: {{cantidad}}</h2>
    <div class="tab-content  container-fluid" id="v-pills-tabContent">
        <div class="tab-pane fade show active container-fluid" id="v-pills-agenda" role="tabpanel"
            aria-labelledby="v-pills-agenda-tab">
            <form class="d-flex" method="POST" action="{% url 'farmag' %}">
                {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Introduzca Nombre del Fármaco" name="txbusqueda" aria-label="Search">
                    <button id="boton" class="btn btn-outline-primary" type="submit">Buscar</button>
            </form>
            <div></div>
            
        </div>
    </div>  
    <div class="table-responsive" style="min-height: 500px;">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Vía</th>
            <th scope="col">Contraindicación</th>
            <th scope="col">--</th>
          </tr>
        </thead>
        <tbody>
            {% if cantidad >= 1 %}
                {% for farma in farmacos %}
                  <tr>
                    <td>{{farma.nombre_farmaco}}</td>
                    <td>{{farma.via_administracion}}</td>
                    <td>{{farma.contraindicacion}}</td>
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Acción
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a id="1"  class="dropdown-item" href="{% url 'edit_farma' farma.id_farmaco %}" value="editar">Editar</a></li>
                          <li><button href="#" class="btn dropdown-item" name="eliminar" onclick="eliminarFarmaco({{farma.id_farmaco}})" value="{{farma.id_farmaco}}">Eliminar</button></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %} 
            {% elif cantidad < 1 %}
          <tr>
            <td>No Encontrado</td>
            <td>No Encontrado</td>
            <td>No Encontrado</td>
          </tr>
          {% endif %} 
        </tbody>
      </table>
    </div>
    <!-- Contenido de los tab de cada tabla -->
    {% if messages %}
      {% for m in messages%}
      <script>
        Swal.fire({
          "title": "Realizado",
          "text": "{{m}}",
          "icon": "success"
        })
      </script>
      {% endfor %}
    {% endif %}   

    </div>
    {% block js %}
    <script>
      function eliminarFarmaco(id){
        
        Swal.fire({
          "title": "¿Esta Seguro?",
          "text": "Esta Acción es Irreversible",
          "icon": "question",
          "showCancelButton": true,
          "cancelButtonText": "No, Cancelar",
          "confirmButtonText": "Si, seguro",
          "reverseButtons": true,
          "confirmButtonColor": "#dc3545"
        })
        .then(function(result){
          if(result.isConfirmed){
            const data = new FormData();
            var csrftoken = '{{ csrf_token }}';
            data.append('eliminar',id);
            console.log(id);
            fetch('{% url 'farmag' %}', {
              method: 'POST',
              body: data ,
              headers: {
                'X-CSRFToken': csrftoken ,
              }
           });
           Swal.fire({
            "title": "Realizado",
            "text": "Fármaco Eliminado Exitosamente",
            "icon": "success"
          })
          .then(function(result){
            if(result.isConfirmed){
            window.location.href = "{% url 'farmag' %}";
            }
          });
          
        }
      })   
      }
    </script>
{% endblock js %}

</main>
{% endblock contenido %}