{% load static %}

<!-- Banner -->
<div class="d-flex justify-content-center align-items-center p-5" id="banner_container">
    <img class="banner w-100" src="{% static 'img/banner_recep.jpg' %}" alt="" />
</div>
<!-- La linea -->
<div id="bienvenida_usuario">
    <hr class="mx-auto" style="color: grey" />
    <div>
        <h2 class="ms-5" style="text-align: start"><strong>Bienvenid@:</strong> {{recep.p_nombre}} {{recep.apellido_pa}}</h2>
    </div>
    <hr class="mx-auto" style="color: grey" />
</div>