{% load static %}
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="{% static 'css/estilo.css'%}">
</head>

<header class="fixed-top">
    <nav class="navbar navbar-expand-xl navbar-light border p-md-3">
        <div class="container">
            <a class="navbar-brand" href="#">Intemed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="mx-auto"></div>
                <ul class="navbar-nav hstack gap-3">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'modulo_recepcion:inicio' %}">Inicio</a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Mi Cuenta</a>
                    </li>
                    <div class="vr"></div>
                    
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link text-white" href="{% url 'logout' %}">Cerrar Sesión : {{ user.username }} </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
</header>
<body>

    {% include "banner_recepcion.html" %}
    <main class="p-5">
        <div class="d-flex">
            <!-- Tabla de navegacion vertical  -->
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a style="text-decoration: none;" href="{% url 'modulo_recepcion:ingresarPac' %}">
                <button class="nav-link border m-3  btn btn-primary" id="v-pills-ingresarP-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ingresarP" type="button" role="tab" aria-controls="v-pills-ingresarP" aria-selected="false">
                    <div class="row align-items-center">
                        <div class="col-3 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                        </div>
                        <div class="col-9 text-center overflow-hidden">
                          Ingresar Paciente
                      </div>
                    </div>
                </button>
              </a>
              <a style="text-decoration: none;" href="{% url 'modulo_recepcion:buscarPac' %}"> 
                <button class="nav-link border m-3 btn btn-primary" id="v-pills-buscarP-tab" data-bs-toggle="pill" data-bs-target="#v-pills-buscarP" type="button" role="tab" aria-controls="v-pills-buscarP" aria-selected="false">
                    <div class="row align-items-center">
                        <div class="col-3 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg>
                        </div>
                        <div class="col-9 text-center overflow-hidden">
                            Buscar Paciente
                        </div>
                    </div>
                    
                </button>
              </a>
              <a style="text-decoration: none;" href= "{% url 'modulo_recepcion:anularHor' %}">
                <button class="nav-link border m-3 btn btn-primary" id="v-pills-ingresarPago-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ingresarPago" type="button" role="tab" aria-controls="v-pills-ingresarPago" aria-selected="false">
                    <div class="row align-items-center">
                        <div class="col-3 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg>
                        </div>
                        <div class="col-9 text-center overflow-hidden">
                          Anular Hora
                        </div>
                    </div>
                    
                </button>
              </a>
              <a style="text-decoration: none;" href="{% url 'modulo_recepcion:ingresarPag' %}">
                <button class="nav-link border m-3 btn btn-primary" id="v-pills-ingresarPago-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ingresarPago" type="button" role="tab" aria-controls="v-pills-ingresarPago" aria-selected="false">
                    <div class="row align-items-center">
                        <div class="col-3 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                                <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                              </svg>
                        </div>
                        <div class="col-9 text-center overflow-hidden">
                          Ingresar Pago
                        </div>
                    </div>
                 </a>
                </button>
                <a style="text-decoration: none;" href="{% url 'modulo_recepcion:tomar_hr' %}">
                <button class="nav-link border m-3 btn btn-primary" id="v-pills-ingresarPago-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ingresarPago" type="button" role="tab" aria-controls="v-pills-ingresarPago" aria-selected="false">
                    <div class="row align-items-center">
                      <div class="col-3 ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                          <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                      </div>
                      <div class="col-9 text-center overflow-hidden">
                        Tomar hora Atencion
                      </div>
                    </div>
                </button>
                </a>
            </div>

            <!-- Contenido de los tab de cada tabla -->
            <div class="tab-content  container-fluid" id="v-pills-tabContent">
                <div class="tab-pane fade show active container-fluid p-4" id="v-pills-ingresarP" role="tabpanel" aria-labelledby="v-pills-ingresarP-tab">  
                </div>
                <!-- Modificar y anular hora paciente -->
                <div class="tab-pane fade container-fluid p-4" id="v-pills-buscarP" role="tabpanel" aria-labelledby="v-pills-buscarP-tab">
                </div>
                
                <!-- Ingresar pago del paciente -->
                <div class="tab-pane fade container-fluid p-4 " id="v-pills-ingresarPago" role="tabpanel" aria-labelledby="v-pills-ingresarPago-tab">
                </div>
            {% block contenido %}  
            {% endblock contenido %}  
        </div>

    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script>
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        $(function () {
            $("#fecha").datepicker();
            document.getElementById('accordion_recep_ingreso').hidden = true;
        });
        function selectdia() {
            var fechaselect = document.getElementById("fecha").value;
            if (!!fechaselect) {
                document.getElementById('accordion_recep_ingreso').hidden = false;
                document.getElementById('titulo_fecha').innerHTML = 'Fecha: ' + fechaselect
            } else {
                document.getElementById('accordion_recep_ingreso').hidden = true;
            }
        }
    </script>
    <script>
        function confirmacion_ate(id){
              Swal.fire({
                "title": "¿Esta Seguro?",
                "text": "Esta Acción es Irreversible {{di.id_disp}}",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, seguro",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
              })
              .then(function(result){
                var runp= document.getElementById('inputRut').value.trim();
                if(runp==0){
                    Swal.fire({
                        "title": "Error",
                        "text": "debe ingresar un valor para el rut del paciente",
                        "icon": "question"
                      })
                  }
                if(result.isConfirmed && runp!=0){
                  const data = new FormData();
                  var csrftoken = '{{ csrf_token }}';
                  data.append('hor_sel',id);
                  data.append('inputRut',runp);
                  console.log(id);
                  fetch('{% url 'modulo_recepcion:tomar_hr' %}', {
                    method: 'POST',
                    body: data ,
                    headers: {
                      'X-CSRFToken': csrftoken ,
                    }
                 });
                 Swal.fire({
                  "title": "Realizado",
                  "text": "Su hora ha sido agendada, llegara una notificacion",
                  "icon": "success"
                })
                .then(function(result){
                  if(result.isConfirmed){
                  window.location.href = "{% url 'modulo_recepcion:tomar_hr' %}";
                  }
                });
              }
            })   
            }
        function confirma_anular(id){
            Swal.fire({
              "title": "¿Esta Seguro?",
              "text": "Esta Acción es Irreversible {{di.id_disp}}",
              "icon": "question",
              "showCancelButton": true,
              "cancelButtonText": "No, Cancelar",
              "confirmButtonText": "Si, seguro",
              "reverseButtons": true,
              "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
              if(result.isConfirmed){
                const data = new FormData();
                var csrftoken = '{{ csrf_token }}';
                data.append('id_hora',id);
                console.log(id);
                fetch('{% url 'modulo_recepcion:anularHor' %}', {
                  method: 'POST',
                  body: data ,
                  headers: {
                    'X-CSRFToken': csrftoken ,
                  }
               });
               Swal.fire({
                "title": "Realizado",
                "text": "La hora ha sido ELIMINADA ",
                "icon": "success"
              })
              .then(function(result){
                if(result.isConfirmed){
                window.location.href = "{% url 'modulo_recepcion:anularHor' %}";
                }
              });
            }
          })   
          }
          function confirma_bono(id){
            Swal.fire({
              "title": "¿Esta Seguro?",
              "text": "se imprimira la boleta y se generara una nueva atencion {{di.id_disp}}",
              "icon": "question",
              "showCancelButton": true,
              "cancelButtonText": "No, Cancelar",
              "confirmButtonText": "Si, seguro",
              "reverseButtons": true,
              "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
              var inpvalue = document.getElementById('inputval').value.trim();
              var run_p = document.getElementById('inputRutPaciente').value.trim();
              console.log(inpvalue)
              if(inpvalue==0){
                Swal.fire({
                    "title": "Error",
                    "text": "debe ingresar un valor para el bono",
                    "icon": "question"
                  })
              }
              if(result.isConfirmed && inpvalue!=0){
                const data = new FormData();
                var csrftoken = '{{ csrf_token }}';
                data.append('inpval', inpvalue);
                data.append('runp', run_p);
                console.log(id);
                fetch('{% url 'modulo_recepcion:ingresarPag' %}', {
                  method: 'POST',
                  body: data ,
                  headers: {
                    'X-CSRFToken': csrftoken ,
                  }
               });
               Swal.fire({
                "title": "Realizado",
                "text": "La atencion ha sido generada",
                "icon": "success"
              })
              .then(function(result){
                if(result.isConfirmed){
                window.location.href = "{% url 'modulo_recepcion:ingresarPag' %}";
                }
              });
            }
          })   
          }
        </script>
    {% block js %}  

    {% endblock js %}   

</body>
<script src="{% static 'js/validaciones.js' %}"></script>
{% block js1 %}


{% endblock js1 %} 

</html>