{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleta Intemed</title>
</head>

    <body>
        <div class="text-aling">
            <img src="{% static 'img/img_boleta_intemed.png' %}" class="" alt="Cinque Terre" width="300" height="150">
            <h1>Boleta de Atención Médica</h1>
        </div>
        <div >        
            <p>Nombre Paciente : </p>
            <p>Sexo : </p>
            <p>Edad : </p>            
            <p>Dirección : </p>
            <p>Fecha Emisión : </p>
        </div>
        <hr>
        <div>
            <p>RUT Profesional : </p>
            <p>Médico Tratante : </p>
            <p>Especialidad :</p>
            <p>Dirección Clínica : </p>
        </div>
        <hr>
        <div>
            <br>
            <p>Monto : $</p>
            <p>Monto Total a Pagar : $</p>
        </div>
    </body> 

<footer class="">
    <div class="">
        <br>
        <br>
        <br>
        <p a-lign="center"> © 2022, Clínica de Servicios Médicos Intemed </p>
    </div>
</footer>
</div>
</html>