{%extends "base_recepcion.html"%}
{% load static %}
{% block contenido %}  
<section class="p-4">
        <ul class="nav nav-tabs mt-3" id="tabsObs" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="modificarpaciente-tab" data-bs-toggle="tab" data-bs-target="#modificarpaciente"
                type="button" role="tab" aria-controls="modificarpaciente" aria-selected="true">Modificar Paciente</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="anularhora-tab" data-bs-toggle="tab" data-bs-target="#anularhora" 
                type="button" role="tab" aria-controls="anularhora" aria-selected="false">Anular Hora</button>
            </li>
        </ul>
        <div class="tab-content" id="tabcontenidobs">
            <div class="tab-pane fade show active" id="modificarpaciente" role="tabpanel" aria-labelledby="modificarpaciente-tab">
                <div class="container m-1 table-responsive  border">
                  <!-- Datos Basicos del Paciente -->
                    <form class="row mt-3" method="POST" enctype="multipart/form-data" onsubmit="">
                      <div class="col-sm-4">
                          <label for="inputRutPaciente" class="form-label">Rut paciente<span id="rut_span" class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="inputRut" name="inputRut" oninput="val_rut()" minlength="7" maxlength="8" required>
                      </div>
                      <div class="col-sm-4" style="margin-top: 32px;">
                          <button id="boton" type="submit" class="btn btn-primary mb-3">Buscar</button>
                      </div>
                  
                        <div class="row mt-3" method="POST" enctype="multipart/form-data" onsubmit="">
                        <div class="col-lg-4">
                            <label for="inputNombrePaciente" class="form-label">Primer Nombre<span id="primn_span" class="text-danger"></span></label>
                            <input type="text" class="form-control" id="inputPNom" name="inputPNom" oninput="val_primn()" minlength="2" maxlength="100" required>
                        </div>
                        <div class="col-lg-4">
                            <label for="inputSegundoNombrePac" class="form-label">Segundo Nombre<span id="segn_span" class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputSNom" name="inputSNom"  oninput="val_segn()" minlength="2" maxlength="100" required>
                        </div>
                        <div class="col-lg-4">
                            <label for="inputNombreSocial" class="form-label">Nombre Social<span id="nomsoc_span" class="text-danger"></span></label>
                            <input type="text" class="form-control" id="inputNomSoc" name="inputNomSoc" oninput="val_nomsoc()"  maxlength="100">
                        </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <label for="inputApellidoPaciente" class="form-label">Apellido P.<span id="ap_span" class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputAp" name="inputAp" oninput="val_apPaterno()" minlength="2" maxlength="100" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="inputApellidomPaciente" class="form-label">Apellido M.<span id="am_span" class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputAM" name="inputAM" oninput="val_apMaterno()" minlength="2" maxlength="100" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="inputNacPac" class="form-label">Nacionalidad</label>
                                <select name="inputNacPac" class="form-select ">
                                    {% for x in nacionalidad %}
                                        {% if x.nombre_nac == paciente.id_nacionalidad.nombre_nac %}
                                            <option selected>{{x.nombre_nac}}</option>
                                        {% else %}
                                            <option>{{x.nombre_nac}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <label for="inputEstadoCivil" class="form-label">Estado Civil</label>
                                <select name="inputEstadoCivil" class="form-select ">
                                    {% for x in estado %}
                                        {% if x.nombre_estado == paciente.id_estado.nombre_estado %}
                                            <option selected>{{x.nombre_estado}}</option>
                                        {% else %}
                                            <option>{{x.nombre_estado}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="inputGenero" class="form-label">Género</label>
                                <select name="inputGenero" class="form-select ">
                                    {% for x in genero %}
                                        {% if x.nombre_genero == paciente.id_genero.nombre_genero %}
                                            <option selected>{{x.nombre_genero}}</option>
                                        {% else %}
                                            <option>{{x.nombre_genero}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="inputTelefono" class="form-label">Fono<span id="tel_span" class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="inputFono" name="inputFono" oninput="val_telefono()" minlength="5" maxlength="12" required>
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <label for="inputDireccion" class="form-label">Dirección<span id="dir_span" class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputDir" name="inputDir" oninput="val_direccion()" minlength="5" maxlength="100" required>
                            </div>
                            <div class="col-md-4">
                                <label for="inputComuna" class="form-label">Comuna</label>
                                <select name="inputComPac" class="form-select ">
                                
                
                                    {% for x in comuna %}
                                        {% if x.nombre_comuna == paciente.id_comuna.nombre_comuna %}
                                        <option selected>{{x.nombre_comuna}}</option>
                                        {% else %}
                                        <option>{{x.nombre_comuna}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class=" col-lg-4">
                                <label for="inputcorreo" class="form-label">Correo Electrónico<span id="correo_span" class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="inputCorreo" name="inputCorreo" oninput="ValidateEmail()" minlength="5" maxlength="100" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="anularhora" role="tabpanel" aria-labelledby="anularhora-tab">
                <div class="container table-responsive border" > 
                    <form >
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <label for="inputRutPaciente" class="form-label">Rut Paciente</label>
                                <input type="text" class="form-control" id="inputRutPaciente" placeholder="Ingrese Rut">
                            </div>
                            <div class="col-sm-4" style="margin-top: 32px;">
                                <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                            </div>
                        </div>
                        <h3 class="text-center mb-5">Horas Registradas</h3>
                        <table class="table is-fullwidth is-striped is-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre paciente</th>
                                    <th>Dìa</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Andrea Verdugo</th>
                                    <td>Lunes</td>
                                    <td>12:00</td>
                                </tr>
                                    <tr>
                                    <th>Andrea Verdugo</th>
                                    <td>Martes</td>
                                    <td>13:00</td>
                                </tr>
                                    <tr>
                                    <th>Andrea Verdugo</th>
                                    <td>Martes</td>
                                    <td>14:00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary mb-4">Buscar</button>
                            <button type="submit" class="btn btn-primary mb-4">Anular</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock contenido %}  