{% extends "base_recepcion.html" %}
{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="text-center mb-5 fw-bolder">Características perfil Recepcion</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-blue fs-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                </div>
                <h2>Ingresar Paciente</h2>
                <p style="text-align: justify ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo delectus excepturi, reiciendis
                    aspernatur obcaecati eius maiores sit quisquam non, laborum praesentium rem illum? Corporis maiores
                    temporibus perferendis molestiae hic ipsa.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center  justify-content-center fs-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"  fill="currentColor" class="bi bi-search-heart-fill" viewBox="0 0 16 16">
                        <path d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                      </svg>
                </div>
                <h2>Buscar Paciente</h2>
                <p style="text-align: justify ;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum labore officia cumque ipsam neque, ea
                    repellendus dignissimos. Expedita veniam vero totam asperiores enim, facilis aut, magnam iusto nulla
                    ratione ad?</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"  fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                      </svg>
                </div>
                <h2>Anular Hora</h2>
                <p style="text-align: justify ;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum labore officia cumque ipsam neque, ea
                    repellendus dignissimos. Expedita veniam vero totam asperiores enim, facilis aut, magnam iusto nulla
                    ratione ad?</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                        <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                      </svg>
                </div>
                <h2>Ingresar Pago</h2>
                <p style="text-align: justify ;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum labore officia cumque ipsam neque, ea
                    repellendus dignissimos. Expedita veniam vero totam asperiores enim, facilis aut, magnam iusto nulla
                    ratione ad?</p>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}