{% extends "base_recepcion.html" %}
{% load static %}
{% block contenido %}  
<section class="p-4">
    <h3 class="text-center mb-5">Ingreso Paciente </h3>
    <form class="row" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="inputRutPaciente" class="form-label">Rut paciente<span id="rut_span" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputRut" name="inputRut" oninput="val_rut()" minlength="7" maxlength="8" required>
                
            </div>
            <div class="col-lg-1">
                <label for="inputDVPaciente" class="form-label">Dv<span id="dv_span" class="text-danger"></span></label>
                <input type="text" class="form-control" id="inputDV" name="inputDV" oninput="val_dv()" minlength="1" maxlength="1" required>
            </div>
            
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="inputNombre" class="form-label fw-bolder">P. Nombre <span id="p_name" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputNombre" name="inputPNom"
                    placeholder="Primer Nombre Paciente" minlength="2" maxlength="100" required>
            </div>
            <div class="col-md-3">
                <label for="inputSNombre" class="form-label fw-bolder">S. Nombre <span id="s_name" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputSNombre" name="inputSNom"
                    placeholder="Segundo Nombre Paciente" minlength="2" maxlength="100" required>
            </div>
            <div class="col-md-3">
                <label for="inputApellidop" class="form-label fw-bolder">Apellido P.<span id="a_paterno" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputApellidop2" name="inputAp"
                    placeholder="Apellido Paterno" minlength="2" maxlength="100" required>
            </div>
            <div class="col-md-3">
                <label for="inputApellidom" class="form-label fw-bolder">Apellido M.<span id="a_materno" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputApellidom" name="inputAM"
                    placeholder="Apellido Materno" minlength="2" maxlength="100" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="inputNsocial" class="form-label fw-bolder">N. Social</label>
                <input type="text" class="form-control" id="inputNsocial" name="inputNomSoc" placeholder="Nombre Social"
                    minlength="2" maxlength="100">
            </div>
            <div class=" col-md-3">
                <label for="inputcorreo" class="form-label fw-bolder">Correo Electrónico<span id="p_correo" class="text-danger">*</span></label>
                <input type="email" class="form-control" id="inputcorreo" name="inputCorreo" placeholder="Ejemplo@correo.paciente"
                    minlength="5" maxlength="100" required>
            </div>
            <div class="col-md-3">
                <label for="inputDireccion" class="form-label fw-bolder">Dirección<span id="p_direccion" class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputDireccion" name="inputDir" placeholder="Dirección" minlength="5"
                    maxlength="100" required>
            </div>
            <div class="col-md-3">
                <label for="inputComuna" class="form-label  fw-bolder">Comuna<span id="p_comuna" class="text-danger">*</span></label>
                <select id="inputComuna" name="inputComuna" class="form-select" required>
                    {% for x in comuna %}
                            <option value="{{x.id_comuna}}">{{x.nombre_comuna}}</option>
                    {% endfor %}                
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="inputEstadoCivil" class="form-label fw-bolder">Estado Civil</label>
                <select id="inputEstadoCivil" name="inputEstadoCivil" class="form-select ">
                    {% for x in estadoCivil %}
                            <option value="{{x.id_estado}}">{{x.nombre_estado}}</option>
                    {% endfor %}
                
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputGenero" class="form-label fw-bolder">Género</label>
                <select id="inputGenero" name="inputGenero" class="form-select ">
                    {% for x in genero %}
                            <option value="{{x.id_genero}}">{{x.nombre_genero}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputPrevision" class="form-label fw-bolder">Previsión</label>
                <select id="inputPrevision" name="inputPrevision" class="form-select">
                {% for y in prevision %}
                        <option value="{{y.id_prevision}}">{{y.nombre_prevision}}</option>
                {% endfor %}
                </select>
            </div>  
            <div class="col-md-2">
                <label for="inputNac2" class="form-label fw-bolder">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="inputNac" name="inputNac" placeholder="Fecha Nacimiento">
            </div>
        </div>
        <div class="row mt-3">
            <div class=" col-md-3">
                <label for="inputNac2" class="form-label fw-bolder">Nacionalidad</label>
                <input type="text" class="form-control" id="inputNac2" name="inputNacPac" placeholder="Nacionalidad"
                    list="nacionalidad">
                <datalist id="nacionalidad">
                    {% for x in nacionalidad %}
                    <option value="{{x.nombre_nac}}"></option>
                    {% endfor %}
                </datalist>

            </div>
            <div class="col-md-3">
                <label for="inputFono2" class="form-label fw-bolder">Fono</label>
                <input type="tel" class="form-control" id="inputFono2" name="inputFono2" placeholder="Teléfono Paciente"
                    value="{{telePac.id_telefono.num_telefono}}">
            </div>

        </div>
    
        <div class="col-12 mt-5">
            <button type="submit" class="btn btn-primary">Ingresar Paciente</button>
            <button type="reset"  class="btn btn-primary">Limpiar</button>
        </div>
    </form >
</section>            
{% endblock contenido %}  
