{% extends "base_recepcion.html" %}
{% load static %}
{% block contenido %}  
<section class="p-4">
    <h3 class="text-center mb-5">Tomar hora atencion Paciente </h3>
    <form class="row" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <label for="inputRutPaciente" class="form-label">Rut paciente<span id="rut_span" class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="inputRut" name="inputRut" oninput="" minlength="7" maxlength="8">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <input type="text" readonly class="form-control-plaintext"  value="Seleccione una Fecha ">
                </div>
                <div class="col-lg-4">
                    <input type="date" class="form-control" id="fechacalendar" name="fechainput" placeholder="Seleccione fecha" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <input type="text" readonly class="form-control-plaintext"  value="Seleccione Especialidad: ">
                </div>
                <div class="col-lg-4">
                    <select class="form-select" aria-label="">
                        <option selected>Especialidad</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>  
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <input type="text" readonly class="form-control-plaintext" value="Seleccione médico: ">
                </div>
            
                <div class="col-lg-4">
                    <select class="form-select" name="run_medic" aria-label="">
                        {%for m in medico %}
                            <option  value="{{m.run}}">{{m.p_nombre}} {{m.apellido_pa}}</option>
                        {% endfor %}
                                           
                    </select>
                </div>  
                <div class="col-lg-2">
                    <button type="Submit" class="btn btn-primary mb-2" >Buscar</button>
                </div>
            </form>
                <!--
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary mb-2" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Buscar</button>
                </div>-->
            
            </div>
            <table class="table is-fullwidth is-striped is-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado hora</th>
                </tr>
                </thead>
                <tbody name="hor_sel">
                {% if disponibilidad %}
                    {% for di in disponibilidad %}
                <tr>
                    <th>{{di.id_disp}}</th>
                    <th>{{di.id_horaD.fecha_hora|date:"N d "}}</th>
                    <th>{{di.id_horaD.fecha_hora|date:"P"}}</th>
                    {% if tomada %}
                    <th>No Disponible</th>
                    {% else %}
                    <th>Disponible</th>
                    {% endif %}
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-info m-1 text-white"
                            onclick="confirmacion_ate({{di.id_disp}})">
                            Seleccionar Hora
                        </button>
                    </td>
                </tr>
                    {% endfor %}
                {% endif%}
                
                </tbody>
            </table>
        
            
            
            <!--Si no funciona desplegar menu al apretar el boton y buscar, mover la tabla fuera del collapse-->
            
            
            
            
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row mt-3">
                        <h3 class="text-center mb-5">Horas disponibles para $ médico $ especialidad $</h3>
                        
                    </div>
                </div>
            </div>



            
        </div>
        
</section>  
{% endblock contenido %} 